# Ignore common files
*.log

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore the folders
.vscode/
/data_cache/*
!/data_cache/
/checkpoints/*
!/checkpoints/
/data/*
!/data/
/logs/*
!/logs/
/misc/*
!/misc/
/outputs/*
!/outputs/
/previews/*
!/previews/
/artifacts/*
!/artifacts/
/demo_data/*
