# ================================USER SETTINGS================================

# ----- Study Area Extent Definition
extent:
  crs: 'EPSG:3161'
  mode: ref
  inputs:
    # when mode='ref' provide:
    dirpath: ./data/reference
    filename: 'on_3161_30m.tif'
    # when mode='aoi' or 'tiles' provide:
    origin: [0.0, 0.0] # x, y in CRS units
    pixel_size: [0.0, 0.0] # x, y positive magnitudes
    # when mode='aoi', also provide:
    grid_extent: [0.0, 0.0] # height and width in CRS units
    # when mode='tiles', also provide:
    grid_shape: [0, 0] # rows and cols as number of tiles

# ----- World Grid Specifications
grid:
  tile_size:
    row: 256
    col: 256
  tile_overlap:
    row: 0
    col: 0

# ----- Source of Domain Knowledge
domain:
  dirpath: ./data/domain
  files:
    - name: geology.tif
      index_base: 1
    - name: ecodistrict.tif
      index_base: 1
  use_type:
    ids: ecodistrict
    vec: geology

# ----- Data preparation
dataprep:
  # filtering thresholds for valid blocks
  threshold:
    # minimum valid pixel ratio threshold for fit blocks
    blk_thres_fit: 0.75
    # minimum valid pixel ratio threshold for test blocks
    blk_thres_test: 0.05

# ----- Source of Fit and Test (optional) Data
dataset:
  name: demo
  fit:
    image: ''
    label: ''
  test:
    image: ''
  # data configuration
  config: ''

# ----- Artifacts Storage
artifacts:
  # root where artifacts from dataprep are saved
  root: ./artifacts

# ----- Model Features
models:
  # mode of conditioning: 'none', 'concat', 'film', 'hybrid'
  conditioning:
    mode: 'hybrid'

# ----- Trainer Runtime Settings
trainer:
  runtime:
    data:
      domain_ids_name: ecodist
      domain_vec_name: geology
    schedule:
      patience: 10
      min_delta: 0.0005
    monitor:
      track_head_name: layer1

# ----- Curriculum Learning Phases
curriculum:
  # phases
  phases:
    - name: coarse_head
      num_epochs: 100
      heads:
        active_heads: [layer1]
        frozen_heads: null
        masked_classes: null
      logit_adjust:
        train: False
        val: False
        test: False
        alpha: 1.0
      lr_scale: 1.0
