# loader config
loader:
  block_size: 256
  patch_size: 128
  batch_size: 16
  stream_cache: 16
  rand_sample_n: ${test.rand_sample_n}
  rand_seed: ${seed}

# loss config
loss:
  alpha_fn: 'effective_n'
  types:
    focal:
      weight: 0.5
      alpha: null
      gamma: 2.0
      reduction: 'mean'
    dice:
      weight: 0.5
      smooth: 1.0

# optimizer and scheduler config
optim:
  opt_cls: 'AdamW'
  lr: 1e-4
  weight_decay: 1e-3
  sched_cls: 'CosAnneal'
  sched_args:
    T_max: 50

# runtime config
config:
  data:
    domain_ids_name: ecodist
    domain_vec_name: geology
  schedule:
    max_epoch: 50
    max_step: 1000000
    log_every: 50
    val_every: 1
    ckpt_every: 5
    patience: 5
    min_delta: 0.0005
  monitor:
    metric_name: iou
    track_head_name: layer1
    track_mode: max
  precision:
    use_amp: True
  optimization:
    grad_clip_norm: 1.0
  ckpt_dpath: ./checkpoints