id: grid_row_${grid.tile_size.row}_${grid.tile_overlap.row}_col_${grid.tile_size.col}_${grid.tile_overlap.col}
version: v1
tile_size:
  row: 256
  col: 256
tile_overlap:
  row: 0
  col: 0
output_dirpath: ${artifacts.grids}/${grid.id}
