# name of the dataset
name: demo
# input fit data
fit:
  image: ./demo_data/fit_input/image.tif
  label: ./demo_data/fit_input/label.tif
# input test data (optional)
test:
  image: ./demo_data/test_input/image.tif
# data configuration
config: ./demo_data/config.json